.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

#nav-header {
  color: #ffffff;
  size: 1em !important;
  margin: 0;
}

.authlink {
  text-decoration: none;
  margin: 0 15px;
  color: #ffd6e0;
  font-weight: bold;
  transition: color 0.2s ease;
}

.authlink:hover {
  color: #ffffff;
}
