@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image:
    /* linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), */ url("https://images.hdqwalls.com/wallpapers/denis-istomin-memories-we-made-4k-ej.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-body {
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.main-header {
  font-weight: bold;
  color: white;
  font-size: 5.6em;
  margin: -50px 20px 0 20px;
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 1.4em;
  color: white;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link,
.alltrips-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #ce4866;
  color: white;
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #ff5378;
}

.signin-link {
  background-color: #f6e7e7;
  color: #1c2e5b;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
}

.alltrips-link {
  background-color: #ffffff;
}

h1,
p {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}
